{{#if addBooking}}
<form>
  <div class="form-group">
    <label for="reserve">ENTER NUMBER OF SEATS TO BOOK</label>
    {{input value=reserve id="reserve"}}
  </div>
  <button {{action 'saveBooking'}}>SAVE BOOKING</button>
</form>
{{else}}
<button class="btn btn-info" {{action 'toggleBooking'}}>BOOK SPACE</button>
{{/if}}
