{{#if addBooking}}
<form>
  <div class="form-group">
    <label for="reserve" class="about">ENTER NUMBER OF SEATS TO BOOK</label>
    {{input value=reserve id="reserve" class="form-control"}}
  </div>
  <button {{action 'saveBooking'}} class="btn btn-info hvr-grow">SAVE BOOKING</button>
</form>
{{else}}
<button class="btn btn-info hvr-grow" {{action 'toggleBooking'}}>BOOK SPACE</button>
{{/if}}
