<div class="col-md-4">
<div class="panel panel-default">
    <div class="panel-heading">{{space.name}}</div>
    <div class="panel-body">{{#link-to 'tile' space.id}}<img src={{space.image}} alt="space1" class="img-responsive spaceimage well">{{/link-to}}</div>
    <div class="panel-footer"><button class="btn btn-danger" {{action 'delete' space}}>Delete</button>{{#link-to 'edit' space.id}}<button class="btn btn-primary">Edit</button>{{/link-to}}</div>
  </div>
</div>
