.about {
  font-family: 'Artifika', serif;
}

.mainpanel {
  background-image: url("/assets/images/office1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-size: 29px;
}

#head {
  background-image: url("/assets/images/office3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  color: black;
  font-family: 'Artifika', serif;
  margin-top: 0px;
}

.headtext {
  padding-top: 200px;
}

.secondrow {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Artifika', serif;
}

.payment {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bitcoin{
  margin-top: 50px;
}
.welcome{
font-family: 'Lobster', cursive;
font-size: 25px;
}
.footer-image{
  width: 90px;
  height:90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer{
  background-color: black;
  color: white;
}
.contact-img{
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contacts2{
  float: left;
}
.contacts{
  margin: 200px;
}
