.about {
  font-family: 'Artifika', serif;
}

.mainpanel {
  background-image: url("https://images.pexels.com/photos/16347/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-size: 25px;
}

#head {
  background-image: url("/assets/images/office3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  color: black;
  font-family: 'Artifika', serif;
  margin-top: 0px;
}

.headtext {
  padding-top: 200px;
}

.secondrow {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Artifika', serif;
}

.payment {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bitcoin{
  margin-top: 50px;
}
.welcome{
font-family: 'Lobster', cursive;
font-size: 25px;
}
.footer-image{
  width: 90px;
  height:90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer{
  background-color: black;
  color: white;
}
.contact-img{
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contacts2{
  float: left;
}
.contacts{
  margin: 200px;
}
.detail-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dynamic-row{
  background-image: url("/assets/images/office4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
.workspacename{
  margin-top: 260px;
  font-size: 40px;
}
.first-row{

color: black;

}
.intro{
  margin-top: 130px;
}
.belief{
  font-size: 23px;
  color: 	#FF4500;
}
.homeimage{
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.second-row{
  padding-top: 20px;
}
.featured{
  margin-top: 20px;

}
.featureimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:300px;
  height: 300px;
}
.host{
  font-size: 20px;
}
.spaceimage{
  height: 200px;
  width: 300px;
}
