<div class="about">
<div class="row well mainpanel">
  <h1 class="text-center">ABOUT US</h1>
  <hr>
<p class="text-center about">SPACEZ is a platform that is dedicated <br> to connecting individuals,groups,startups,<br>students,freelancers or any other<br> with a workplace that suits their needs</p>
<p class="text-center">We provide owners of underutilized facilities<br> a platform to monetize their extra resources like spaces,seats,<br>desks,storage and tables.<br>You will have the opportunity to showcase your space to many remote<br> workers, get instant feedback from them and automate the process of booking and payment</p>
</div>
<div class="row">
  <div class="col-md-6 well">
    <h2>HOW TO BOOK A WORK SPACE</h2>
    <ol>
      <li>Enter your location</li>
      <li>Look through workspaces in your location</li>
      <li>Choose a work-space and click to see reviews and more information</li>
      <li>Book the workspace if you are statisfied by the workspace</li>
    </ol>

  </div>
</div>
<div class="row">
  <div class="col-md-6 well">
    <h2>HOW TO LIST YOUR WORKSPACE</h2>
    <ol>
      <li>Fill the form with information about your workspace</li>
      <li>Have one of our affiliated visit your workplace to verify</li>
      <li>Get a verification badge and now your workspace is listed on our platform</li>
      <li>Start getting bookings from remote workers</li>
    </ol>
</div>
  </div>
</div>
