<div class="container-fluid">
<div class="row">


  <nav class="navbar navbar-right">

      <div class="navbar-header">

      </div>
      <ul class="nav nav-pills">
        <li class="active">
          {{#link-to 'index'}}HOME{{/link-to}}
        </li>
        <li>
          {{#link-to 'about'}}ABOUT US{{/link-to}}
        </li>
        <li>
          {{#link-to 'contact'}}CONTACTS{{/link-to}}
        </li>
        <li>
          {{#link-to 'space'}}ADD WORKSPACE{{/link-to}}
        </li>
      </ul>

  </nav>
</div>
  {{outlet}}
  <hr>

  <div class="row footer text-center">


      <img src="https://cdn1.iconfinder.com/data/icons/social-vol-2-1/200/14-128.png" class="img-responsive homeimage" />


      <img src="https://cdn1.iconfinder.com/data/icons/social-vol-2-1/200/6-128.png" class="img-responsive homeimage" />

      <img src="https://cdn1.iconfinder.com/data/icons/social-vol-2-1/200/1-128.png" class=" img-responsive homeimage" />






    <div class="page-header">
      <p class="text-primary footerwords"> <hr>
        © SPACEZ | All rights reserved
      </p>

    </div>
  

  </div>
</div>
