<div class="row" class="text-center">
<h1>Talk To Us!</h1>
</div>

<div class="well">
  <blockquote>
    <p>Reach us through any of the following channels.</p>
  </blockquote>
</div>

<div class="row">
  <div class="col-md-4" id="fb">
<a href="https://www.facebook.com/">Facebook</a><br>
</div>
  <div class="col-md-4" id="ig">
<a href="https://www.instagram.com/">Instagram</a><br>
</div>
  <div class="col-md-4" id="twitter">
<a href="https://twitter.com/">Twitter</a><br>
</div>
</div>
