<div class="row contacts well">
  <div class="row">
    <h1 class="text-center welcome">
      CONTACT US
    </h1>
    <h4 class="text-center">
      We love hearing from you.<br>
      Feel free to get in contact with us through:
    </h4>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-md-6">
        <img src="https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/contact-128.png" class="img-responsive contact-img"/>

      </div>
      <div class="col-md-6">
        <h4 class="text-center welcome contacts2">
          johndoe@gmail.com
        </h4>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="https://cdn2.iconfinder.com/data/icons/it-technology/70/phone-128.png" class="img-responsive contact-img"/>

      </div>
      <div class="col-md-6">
        <h4 class="text-center welcome contacts2">
          0702 788 909
        </h4>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="https://cdn1.iconfinder.com/data/icons/building-vol-3-3/512/7-128.png" class="img-responsive contact-img"/>

      </div>
      <div class="col-md-6">
        <h4 class="text-center welcome contacts2">
          location::ngong lane plaza
        </h4>
      </div>

    </div>

  </div>
  <div class="row">

  </div>

</div>
