
<div class="row first-row text-center">

  <div class="row">


    <h2 class="about-intro spacez">
      SPACEZ
    </h2>
  </div>


  <div class="row">


    <h4 class="about">
    Looking for a workspace? We got you covered!
    </h4>
  </div>
</div>


<hr>
<div class="row featured">
  <h1 class="text-center about">FEATURED WORKSPACES</h1>
  {{#each model as |space|}}
    <div class=" col-md-4 featuredcol">
      {{#link-to 'tile' space.id}}
        <h2 class="text-center about">{{space.name}}</h2>
        <img src= {{space.image}} class="img-responsive featureimage img-rounded hvr-grow-shadow"/>
      {{/link-to}}
    </div>
  {{/each}}
</div>
<div class="row text-center">
  <div class="col-md-6 col-md-offset-3">
    <hr>
    {{#link-to 'admin'}}<button class="btn btn-success">MORE WORKSPACES</button>{{/link-to}}
  </div>
</div>
<hr>

<div class="amenities">
<div class="row basket">


  <h1 class="text-center about theamenities">AMENITIES AT THE WORKSPACES</h1><hr><hr>
  <div class="row">

    <div class="col-md-4">
      <span class="panel">
    <img class="amenity-icon img-responsive" src="http://buffrspace.com/img/Projector.png">
      <h4>Projector</h4>
    </span>
    </div>
    <div class="col-md-4">
      <span class="panel">
        <img class="amenity-icon img-responsive" src="http://buffrspace.com/img/Whiteboards.png">
      <h4>Whiteboard</h4>
    </span>
    </div>
    <div class="col-md-4">
      <span class="panel">
            <img class="amenity-icon img-responsive" src="http://buffrspace.com/img/Reception.png">
             <h4>Reception</h4>
        </span>

    </div>
  </div><br>
  <div class="row">
    <div class="col-md-4">
      <span class="panel">
          <img class="amenity-icon img-responsive" src="http://buffrspace.com/img/WaterCoffee.png">
           <h4>Water/Coffee</h4>
        </span>

    </div>


    <div class="col-md-4">
      <span class="panel">
            <img class="amenity-icon img-responsive" src="http://buffrspace.com/img/Internet (wifi).png">
            <h4>Internet(wifi)</h4>
        </span>

    </div>
    <div class="col-md-4">
      <span class="panel">
          <img class="amenity-icon img-responsive" src="http://buffrspace.com/img/Mail Delivery.png">
          <h4>Mail Delivery</h4>
        </span>

    </div>
  </div><br>
  <div class="row">
    <div class="col-md-4">
      <span class="panel">
          <img class="amenity-icon img-responsive" src="http://buffrspace.com/img/Printer.png">
          <h4>Printer</h4>
        </span>
    </div>
    <div class="col-md-4">
      <span class="panel">
          <img class="amenity-icon img-responsive" src="http://buffrspace.com/img/Meeting Rooms.png">
          <h4>Conference Rooms</h4>
        </span>
    </div>
    <div class="col-md-4">
      <span class="panel">
      <img class="amenity-icon img-responsive" src="http://buffrspace.com/img/AC.png">
    <h4>Air Conditioning</h4>
      </span>
    </div>
  </div>
  <br>

</div>
</div>
