<div class="row" id="head">
  <div class="headtext">
    <h1 class="text-center welcome">WELCOME TO SPACEZ</h1>
  <h2 class="text-center">ARE YOU ALWAYS ON THE MOVE?</h2>
  <h2 class="text-center">LOOKING FOR A WORK SPACE THAT MEETS YOUR NEEDS?</h2>
  <h2 class="text-center">SPACEZ,will meet all your needs</h2>
</div>
</div>
<div class="row secondrow well">
  <p class="text-center">
    We provide remote workers with access to workspaces<br>
    around them.......<strong>we aim to promote a comfortable worklife.</strong>
  </p>
  <p class="text-center">
    We automate the listing and booking process in a seamless<br> manner, ensuring a smooth experience as you engage with the<br> community of creatives.
  </p>

</div>
<div class="row">
  <h3 class="text-center">Pay by the hour, day, week or month</h3>
  <h3 class="text-center">PAYMENT ACCEPTANCE:</h3>
  <div class="col-md-4">
    <img src="http://trending.co.ke/wp-content/uploads/2017/06/m-pesa-logo.jpg" class="img-responsive paymentimage"/>
    <h3 class="text-center">M-PESA</h3>
  </div>
  <div class="col-md-4">
    <img src="http://nyobetabeat.files.wordpress.com/2011/07/cleaner-btc-logo.png" class="img-responsive paymentimage bitcoin"/>
    <h3 class="text-center">BITCOIN</h3>
  </div>
  <div class="col-md-4">
    <img src="https://www.invoiceninja.com/wp-content/uploads/2015/12/PayPal.png" class="img-responsive paymentimage"/>
    <h3 class="text-center">PAYPAL</h3>
  </div>
</div>
