<div class="page-header">
<h4>Add your workspace here.Click on the 'New Space' button and fill in the form.You can add as many spaces as you desire.Once youre done click on the 'add space' button to upload the spaces to the users.</h4>
</div>
<div class="row">
{{#each model as |space|}}
{{space-tile space=space delete='delete'}}
{{/each}}
</div>

{{new-space saveSpace="saveSpace"}}
