
<h1 class="text-center spacez">BECOME A SPACEHOST</h1>
<h2 class="text-center spacez">LIST YOUR SPACE WITH US</h2>
<div class="row">
{{#each model as |space|}}
{{space-tile space=space delete='delete'}}
{{/each}}

</div>


{{new-space saveSpace="saveSpace"}}
