
<h3 class="text-center welcome">BECOME A SPACEHOST</h3>
<h2 class="text-center welcome">LIST YOUR SPACE WITH US</h2>
<div class="row">
{{#each model as |space|}}
{{space-tile space=space delete='delete'}}
{{/each}}

</div>


{{new-space saveSpace="saveSpace"}}
